{% extends "base.html" %}

{% block title %}Forum Threads{% endblock %}

{% block content %}
  <h2>Forum Threads</h2>

  {% if user.is_authenticated %}
    <p><a href="{% url 'forum:thread-create' %}" class="btn btn-primary">Create New Thread</a></p>
  {% endif %}

  {% if posts %}
    <ul class="thread-list">
      {% for post in posts %}
        <li class="thread-item">
          <h3>
            <a href="{% url 'forum:thread-detail' post.pk %}">
              {{ post.title }}
            </a>
          </h3>
          {% if post.category %}
            <small>{{ post.category.name }}</small><br>
          {% endif %}
          <small>🕒 {{ post.created_on|date:"M d, Y H:i" }}</small>
          <p>{{ post.entry|truncatechars:100 }}</p>
        </li>
      {% endfor %}
    </ul>

    <div class="pagination">
      {% if posts.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ posts.previous_page_number }}">Previous</a>
      {% endif %}

      <span>Page {{ posts.number }} of {{ posts.paginator.num_pages }}</span>

      {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}">Next</a>
        <a href="?page={{ posts.paginator.num_pages }}">Last</a>
      {% endif %}
    </div>

  {% else %}
    <p>No threads yet. Be the first to start a discussion!</p>
  {% endif %}
{% endblock %}