{% extends "base.html" %}

{% block title %}Home - HobbySite{% endblock %}

{% block content %}
  <h2>Welcome to HobbySite!</h2>
  <p>This is the homepage for everyone to explore all sections easily.</p>

  <h3>Explore:</h3>
  <ul>
    <li><a href="{% url 'forum:thread-list' %}">Forum</a></li>
    <li><a href="/commissions/">Commissions</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/wiki/">Wiki</a></li>
    <li><a href="/merchstore/">Merchandise Store</a></li>
  </ul>
{% endblock %}